@import '../../forms.css';

#wrapper {
  width: 100%;
}

section {
  margin-bottom: 1;
}

label {
  display: block;
  margin-bottom: 4px;
}

#width_and_height_inputs {
  display: none;
}

#width_and_height.inputs #width_and_height_inputs {
  display: inline;
}
#width_and_height.inputs #width_and_height_display {
  display: none;
}
