@import '../../forms.css';
@import '../../../../styles/icons.css';
@import '../../../../styles/buttons.css';

#wrapper {
  width: 100%;
  display: block;
}

form {
  grid-area: form;
  overflow: auto;
}

#preview {
  margin-top: 1em;
}

#canvas {
  --checkers1: #fff;
  --checkers2: #bbb;

  outline: solid 1px #666;
  margin-top: 4px;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, -0.3) inset;
  background: conic-gradient(
    var(--checkers2) 25%,
    var(--checkers1) 0 50%,
    var(--checkers2) 0 75%,
    var(--checkers1) 0
  );
  background-size: 40px 40px;
  width: 100%;
  height: 300px;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 800px) {
  #canvas {
    max-height: 250px;
  }
}

@media only screen and (min-width: 801px) {
  #wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'preview form';
    gap: 1em;
  }

  #preview {
    grid-area: preview;
    margin-top: 0;
  }
}

section {
  margin-bottom: 1;
}

label:not(.icon_btn) {
  display: block;
  margin-bottom: 4px;
}

input[type='checkbox']:checked + .icon_btn {
  color: White;
  background: rgba(255, 255, 255, 0.1);
}
