<confirm-dialog title="Download" submit="Download">
  <section>
    <label>Size</label>
    <select id="size"></select>
  </section>
  <section>
    <label>Format</label>
    <select id="format">
      <option value="png">PNG</option>
      <option value="svg">SVG</option>
    </select>
  </section>
  <section>
    <label>Type</label>
    <select id="type">
      <!-- make radio list? -->
      <option value="png">Whole pattern</option>
      <option value="svg">Nails map</option>
    </select>
  </section>
</confirm-dialog>
