#buttons {
  grid-area: 'controls';
  border-right: var(--border-light);
  background: var(--color-header);
  box-shadow: 0 -2px 6px rgb(0 0 0 / 30%);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--horizontal-padding);
}

#buttons .btn {
  margin: 0;
}
