.margin-top {
  margin-top: 16px;
}

#controls_panel {
  padding: 16px var(--horizontal-padding);
  overflow-y: auto;
  height: 100%;
}

#size_controls {
  margin-top: 16px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

.control {
  margin-top: 16px;
  display: block;
  position: relative;
}

expandable-panel .control:first-child {
  margin-top: 0;
}

#controls > .control:first-child {
  margin-top: 0;
}

form label {
  display: block;
}

input[type='checkbox'] + label {
  display: inline-block;
  margin-top: 0;
  position: relative;
  top: -1px;
  margin-left: 4px;
}

input[type='number'],
input[type='text'] {
  vertical-align: bottom;
  height: 24px;
  margin-right: 4px;
  margin-top: 2px;
}

.range-input + .control_input_value {
  position: absolute;
  right: 0;
  top: 2px;
}

select {
  width: 100%;
  padding: 4px;
  margin-bottom: 8px;
  margin-top: 4px;
}

.control_input_value {
  display: inline-block;
  position: relative;
  top: -3px;
  margin-inline-start: 2px;
  font-size: 12px;
}

#size_custom {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  max-width: 270px;
  margin-bottom: 16px;
}

#size_custom > div {
  flex: 1;
}
#size_custom input {
  width: 100%;
}

#controls_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  border-bottom: var(--border-dialog);
}

.controls_menu_item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
}

.controls_menu_item:hover {
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}
#controls_menu .circular_btn {
  width: 40px;
  height: 40px;
}
.color-wheel-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: conic-gradient(
    red 0deg,
    orange 60deg,
    yellow 120deg,
    green 180deg,
    blue 240deg,
    indigo 300deg,
    red 360deg
  );
  border: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
  #controls_menu {
    width: 40px;
    flex-direction: column;
    gap: 10px;
    height: 90%;
    margin-top: 8px;
    margin-inline-start: 16px;
    border: none;
  }

  .controls_menu_item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    text-decoration: none;
  }
}
