.margin-top {
  margin-top: 16px;
}

#controls_panel {
  padding: 16px var(--horizontal-padding);
  overflow-y: auto;
  height: 100%;
}

#size_controls {
  margin-top: 16px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

.control {
  margin-top: 16px;
  display: block;
  position: relative;
}

expandable-panel .control:first-child {
  margin-top: 0;
}

#controls > .control:first-child {
  margin-top: 0;
}

form label {
  display: block;
}

input[type='checkbox'] + label {
  display: inline-block;
  margin-top: 0;
  position: relative;
  top: -1px;
  margin-left: 4px;
}

input[type='number'],
input[type='text'] {
  vertical-align: bottom;
  height: 24px;
  margin-right: 4px;
  margin-top: 2px;
}

.range-input + .control_input_value {
  position: absolute;
  right: 0;
  top: 2px;
}

select {
  width: 100%;
  padding: 4px;
  margin-bottom: 8px;
  margin-top: 4px;
}

.control_input_value {
  display: inline-block;
  position: relative;
  top: -3px;
  margin-inline-start: 2px;
  font-size: 12px;
}

#size_custom {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  max-width: 270px;
  margin-bottom: 16px;
}

#size_custom > div {
  flex: 1;
}
#size_custom input {
  width: 100%;
}
