@font-face {
  font-family: 'string_art_studio';
  src: url('fonts/string_art_studio.ttf?yg39hf') format('truetype'),
    url('fonts/string_art_studio.woff?yg39hf') format('woff'),
    url('fonts/string_art_studio.svg?yg39hf#string_art_studio') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'string_art_studio' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: '\e900';
}
.icon-arrow_left:before {
  content: '\e901';
}
.icon-arrow_right:before {
  content: '\e902';
}
.icon-caret_down:before {
  content: '\e903';
}
.icon-download:before {
  content: '\e904';
}
.icon-fullscreen:before {
  content: '\e905';
}
.icon-hamburger:before {
  content: '\e906';
}
.icon-options:before {
  content: '\e907';
}
.icon-pause:before {
  content: '\e908';
}
.icon-play:before {
  content: '\e909';
}
.icon-refresh:before {
  content: '\e90a';
}
.icon-share:before {
  content: '\e90b';
}
.icon-thumbnails:before {
  content: '\e90c';
}
.icon-x:before {
  content: '\e90d';
}
