#info {
  padding: 16px var(--horizontal-padding) 8px;
  overflow-y: auto;
  border-top: var(--border-dialog);
  min-height: 350px;
  display: none;
  grid-area: config;
  background: var(--color-config);
}

#info.open {
  display: block;
}

#info h4 {
  margin-bottom: 0.7em;
  font-weight: 400;
  padding-bottom: 4px;
  border-bottom: var(--border-dialog);
}

#info h5 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

#info label {
  margin-bottom: 4px;
}

.info__data {
  margin-top: 0;
  margin-bottom: 0;
}
.info__data dt {
  display: inline-block;
}

.info__data > div {
  margin-bottom: 4px;
}
.info__data dt::after {
  content: ':';
}

.info__data dd {
  display: inline-block;
  margin-inline-start: 4px;
  font-weight: 500;
}

#threads_per_color {
  list-style: none;
  padding: 0;
  margin: 0;
}

#threads_per_color li {
  margin-bottom: 0;
  white-space: nowrap;
}

.info__thread_color_value {
  text-align: center;
  transform-origin: left;
  font-size: 10pt;
  height: 12px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  display: inline-block;
  margin-inline-end: 4px;
  vertical-align: middle;
}

.info__thread_color_value_text {
  font-size: 9pt;
}
