* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background: #0e0e0e;
  color: white;
  font-family: Roboto, sans-serif;
}

main {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) var(--select-height) 1fr var(
      --controls-height
    );
  grid-template-areas:
    'header canvas'
    'pattern_select canvas'
    'config canvas'
    'controls player';
  height: 100%;
}

button {
  font-family: Roboto;
}
#sidebar_form {
  border-right: var(--border-light);
  max-height: 100%;
  grid-area: config;
  overflow: hidden;
  background: var(--color-config);
  box-shadow: 1px 0 0px black;
}

#main_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: var(--color-header);
  border-right: var(--border-light);
  align-items: center;
  box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
  position: relative;
  z-index: 2;
}

h1 {
  margin: 0;
  flex-grow: 0;
  padding: 0 var(--horizontal-padding);
  display: flex;
  gap: 0.5em;
  font-size: 16px;
  text-transform: uppercase;
}

.logo1 {
  color: var(--logo1);
}
.logo2 {
  color: var(--logo2);
}

canvas {
  height: 100%;
  width: 100%;
}

a {
  color: var(--logo1);
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
#canvas_panel {
  grid-area: canvas;
  text-align: center;
  overflow: hidden;
}
#canvas_panel.overflow {
  overflow: auto;
}

.small_only {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: var(--select-height) 1fr var(--player-mobile-height) var(
        --controls-height
      );
    grid-template-areas:
      'pattern_select'
      'canvas'
      'player'
      'controls';
  }

  .dialog_sidebar_form main {
    grid-template-rows: var(--select-height) 100vw 1fr var(--controls-height);
    grid-template-areas:
      'pattern_select'
      'canvas'
      'config'
      'controls';
  }

  #main_header {
    display: none;
  }

  #sidebar_form {
    border-right: none;
    border-top: var(--border-light);
    box-shadow: 0 -5px 8px rgb(0 0 0 / 40%), 0 -1px 0 black;
    display: none;
  }

  #controls_panel {
    height: calc(100% - var(--sidebar-form-padding-top));
  }

  .dialog_sidebar_form #sidebar_form {
    display: block;
  }

  .dialog_sidebar_form #player {
    display: none !important;
  }

  .buttons_dialog {
    width: 100vw !important;
  }

  .small_only {
    display: inherit !important;
  }
}
