:root {
  --color-header: #2b2b31;
  --color-config: #212124;
  --color-player: #222226;
  --color-gray3: #262629;
  --color_buttons_dialog: #3f3f4b;
  --color-accent: #ff218f;
  --color-lighter: #ffffff87;
  --color-text: White;
  --border-light: solid 1px #3a3a3a;
  --border-lighter: dotted 1px #505050;
  --horizontal-padding: 16px;
  --vertical-padding: 12px;

  --logo1: #3cc0f1;
  --logo1-active: #0098d0;
  --logo2: #ffcf83;

  --header-height: 45px;
  --select-height: 49px;
  --controls-height: 50px;
  --sidebar-width: 270px;
  --circular_button_width: 38px;
  --sidebar-form-padding-top: 16px;
  --player-mobile-height: 40px;
  --responsive-width: 600px;
}
