fieldset {
  border: var(--border-light);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 9px;
  padding-inline: 0.5em;
}

fieldset > legend {
  cursor: pointer;
  opacity: 0.8;
}

fieldset > legend:hover {
  opacity: 1;
}

div {
  padding-top: 8px;
}

fieldset.minimized {
  border: none;
  padding: 0;
  background: none;
}

fieldset.minimized > legend {
  padding: 0;
  transform: translateX(-6px);
}

fieldset.minimized > div {
  display: none;
}

legend::before {
  font-family: 'string_art_studio';
  content: '\e903';
  display: inline-block;
  margin-inline-end: 2px;
  font-size: 20px;
  opacity: 0.7;
  vertical-align: top;
}

fieldset.minimized > legend::before {
  transform: rotateZ(-90deg);
}
