@import '../../styles/vars.css';

span {
  white-space: nowrap;
}

input {
  /* remove default OS styling */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 18px;
  height: 18px;
  border-style: solid;
  border-width: 2px;
  border-color: #666;
  border-radius: 2px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  margin: 0 2px;
}

input:checked {
  background-color: var(--color-input-active);
  border-color: var(--color-input);
}

/* animated checkmark */
input:checked::after {
  content: '';
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  width: 4px;
  height: 11px;
  position: absolute;
  top: -1px;
  left: 4px;
  transform: rotate(36deg);
}

label {
  display: inline-block;
  margin-top: 0;
  position: relative;
  top: 1px;
  margin-inline-start: 2px;
  font-size: 14px;
}
